.description {
    margin-top: 10%;
    font-size: 1.5em;
}

.landscape {
    display: block;
    max-height: 500px;
}

.landscape-fit {
    overflow: hidden;
}

.small-padding {
    padding: 3%;
}

.small-padding p {
    font-size: 1.2em;
}


.input-field {
    margin: 2.5% 0 0 0;
}

/* TO GENERALIZE */

.pricing .package {
    font-size: 1.3em;
    font-weight: 500;
    text-transform: uppercase;
}
.pricing .price {
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
}
.pricing .price sub{
    font-size: 0.8em;
}
.pricing ul li {
    font-size: 1.2em;
    margin-top: .5em;
    margin-bottom: .5em;
}